<div id="<%= dom_id regulation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">開始時刻:</strong>
    <%= regulation.begin_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">終了時刻:</strong>
    <%= regulation.close_time %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">昼休開始:</strong>
    <%= regulation.interval_s %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">昼休終了:</strong>
    <%= regulation.interval_e %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">単位：分:</strong>
    <%= regulation.unit_minute %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">バージョン:</strong>
    <%= regulation.versions %>
  </p>
</div>
